body{
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    min-width: 960px;
    margin: 0;
    padding: 0;

}
.header{
    margin: 0 auto;
    width: 960px;
    padding: 44px 0 50px;
    text-align: center;
}

.header a .logo{
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 340px;
}

.header ul{
    margin: 0;
    padding: 56px 0 0;
    list-style-type: none;
}

.header ul li{
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0 19px;
}

.header ul li a:hover, .header ul li.select a{
    color:#0ba39c;
}

.header ul li a{
    display: inline-block;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 0 0 3px;
    text-decoration: none;
    text-transform: uppercase;

}

ul li a{
    color: #252525;
    display: inline-block;
    font-family: "Arial Black", "Gadget", sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 0 0 3px;
    text-decoration: none;
    text-transform: uppercase;
}

.body{
    margin: 0;
    padding: 0 0 30px;
    text-align: center;
}

.body h1 {
    color: #fff;
    display: inline;
    font-family: Poller One;
    font-size: 35px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.body h1 span {
    background: #252525;
    display: inline-block;
    padding: 15px 28px 12px;
}

.body form {
    margin: 0 auto;
    padding: 24px 0 0;
    width: 620px;
}

.body form input, .body form textarea {
    border: 2px solid #252525;
    color: #252525;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    margin: 0 0 37px;
    padding: 20px 10px;
    text-align: center;
    text-transform: uppercase;
    width: 596px;
}

.body form textarea {
    height: 175px;
    overflow: auto;
    resize: none;
}

.body form #send {
    background: #252525;
    color: #fff;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 15px;
    font-weight: normal;
    display: inline-block;
    padding: 20px 28px;
    width: auto;
}

body form #send:hover {
	background: #fff;
	color: #252525;
	cursor: pointer;
}

.footer{
    background-color:#242424;
    margin: 0;
    padding: 36px 0 42px;
} 

.footer div{
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    width: 960px;
}

.footer div p{
    color: #ffff;
    float: left;
    line-height: 44px;
    margin: 0 0 0 10px;
    padding: 0;
}

.footer div ul {
    display: block;
    float: right;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 256px;
}

i{
    color: #ffff;
}
.footer div i:hover{
    color:#d3d3d3;
}

.footer div ul li {
    display: block;
    float: left;
    list-style: none;
    margin: 0 10px;
    padding: 0;
    width: 44px;

}


	


